@charset "UTF-8";
/* リセットCSS
===================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

/* 基本設定
===================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #3e3e3e;
  background-color: #F4F5F7;
  font-family: 'Open Sans','Noto Serif JP', sans-serif !important;
  line-height: 1.45;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* タイピングアニメーション
===================================== */
.typing::after {
  content: '';
  border-right: 1px solid;
  animation: flashing 0.6s linear infinite;
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
}

/* ローディングアイコン
===================================== */
.loader-bg{
  .loader{
    width: 100vw;
    height: 100vh;
    position: relative;
    .container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width:160px;
      border-bottom:1px solid black;
      display: flex;
      justify-content: space-around;
      margin: auto;
      perspective: 1000px;
    }
      .container div{
        font-size: 2.0rem;
        font-family: sans-serif;
        transform-style: preserve-3d;
        @for $i from 1 to 8 {
          &:nth-child(#{$i}) {
            animation: turn 2.3s infinite;
            animation-delay: $i*170ms;
          }
        }
      }
  }
}

@keyframes turn{
  0% {
    transform:rotateX(0deg);
    transform-origin: 0 4vw;
  }
  100% {
    transform:rotateX(360deg);
    transform-origin: 0 4vw;
  }
}

/* 変数
===================================== */
$main-font-color: #3e3e3e;

/* カスタムcss
===================================== */
.wrapper{

  // header
  header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    .header-inner{
      max-width: 92%;
      width: 1180px;
      margin: 0 auto;
      height: 80px;
      ul{
        height: 100%;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          margin-left: 5px;
          width: 70px;
          height: 70px;
          border-radius: 35px;
          text-align: center;
          span{
              display: block;
              opacity: 0.5;
            a{
              color: $main-font-color;
              display: block;
            }
            &:hover,{
              transition: 0.5s;
              opacity: 1;
            }
          }
          .active{
            opacity: 1;
            transition: 0.2s;
          }
          &:hover,{
            opacity: 1;
            transition: 0.5s;
            background-color: #eee;
          }
        }
      }
    }
  }

  // top
  .top{
    width: 100vw;
    height: 100vh;
    .top-inner{
      width: 100%;
      height: 100%;
      position: relative;
      .catchcopy{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        h1{
          font-size: 5.0rem;
          font-weight: lighter;
          margin-bottom: 20px;
        }
        p{
          font-size: 2.0rem;
          font-weight: lighter;
          text-align: center;
        }
      }
      .scroll-btn{
        a {
          width: 30px;
          height: 50px;
          display: block;
          position: absolute;
          bottom: 50px;
          left: 50%;
          margin-left: -15px;
          cursor: pointer;
          span{
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -15px;
            display: block;
            width: 30px;
            height: 50px;
            border: 1px solid #333333;
            border-radius: 50px;
            box-sizing: border-box;
            &:before {
              position: absolute;
              top: 10px;
              left: 50%;
              content: '';
              width: 6px;
              height: 6px;
              margin-left: -3px;
              background-color: #333333;
              border-radius: 100%;
              -webkit-animation: sdb 1.5s infinite;
              animation: sdb 1.5s infinite;
              box-sizing: border-box;
            }
          }
        }
        @-webkit-keyframes sdb {
          0% {
            -webkit-transform: translate(0, 0);
            opacity: 0;
          }
          40% {
            opacity: 1;
          }
          80% {
            -webkit-transform: translate(0, 20px);
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }
        @keyframes sdb {
          0% {
            transform: translate(0, 0);
            opacity: 0;
          }
          40% {
            opacity: 1;
          }
          80% {
            transform: translate(0, 20px);
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
  }

  // about
  .about{
    background: linear-gradient(90deg,#F4F5F7 0%,#F4F5F7 35%,#eee 35%,#eee 100%);
    padding: 60px 0;
    .about-inner{
      max-width: 92%;
      width: 1180px;
      margin: 0 auto;
      h2{
        font-size: 4.0rem;
        font-weight: lighter;
        text-align: center;
        border-bottom: solid 1px #3E3E3E;
        width: 200px;
        margin: 0 auto 80px auto;
      }
      .about-content{
        display: flex;
        .about-img{
          width: 400px;
          height: 400px;
          img{
            width: 400px;
            height: 400px;
            box-shadow: 3px 3px 20px 0px #333;
            border: solid 1px #3E3E3E;
          }
        }
        .swiper-container{
          width: 92%;
          max-width: 700px;
          height: 250px;
          margin: 40px 0 0 80px;
          .swiper-wrapper{
            .swiper-slide{
              padding: 30px 20px 30px 90px;

              h3{
                font-size: 2.5rem;
                font-weight: lighter;
                margin: 0 0 15px 0;
              }
              p{
                font-size: 1.6rem;
                margin: 0 0 15px 0;
                span{
                  display: inline-block;
                  width: 100px;
                }
              }
            }
          }
          .swiper-pagination{
            .swiper-pagination-bullet {
            	width: 12px;
            	height: 12px;
            	background: #3E3E3E;
            	opacity: 0.1;
              outline: none;
            }
            .swiper-pagination-bullet-active {
            	width: 15px;
            	height: 15px;
            	background: #3E3E3E;
            	opacity: 0.3;
            }
          }
          .swiper-button-next, .swiper-button-prev{
            height: 30px;
            width: 14px;
            &:after{
              font-size: 2.3rem;
              color: #3E3E3E;
            }
            &:focus{
              outline: none;
            }
          }
          .swiper-button-prev{
            left: 0;
          }
          .swiper-button-next{
            right: 0;
          }
        }
      }
    }
  }

  // service
  .service{
    padding: 80px 0;
    .service-inner{
      max-width: 1080px;
      width: 92%;
      margin: 0 auto;
      h2{
        font-size: 4.0rem;
        font-weight: lighter;
        text-align: center;
        border-bottom: solid 1px #3E3E3E;
        width: 200px;
        margin: 0 auto 80px auto;
      }
      .boxs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .box{
          width: 92%;
          max-width: 450px;
          text-align: center;
          background-color: #eee;
          padding: 30px;
          box-shadow: 2px 2px 10px 1px #ccc;
          i{
            font-size: 3.0rem;
            opacity: 0.5;
          }
          h3{
            font-size: 2.5rem;
            margin: 10px 0 25px 0;
          }
          p{
            font-size: 1.6rem;
            text-align: left;
          }
          &:nth-child(1){
            margin: 0 40px 0 auto;
          }
          &:nth-child(2){
            margin: 0 auto 0 40px;
          }
          &:nth-child(3){
            margin: 80px auto 0 auto;
          }
        }
      }
    }
    // contact-btn
    .contact-btn{
      display: block;
      width: 200px;
      height: 50px;
      border-radius: 50px;
      text-align: center;
      margin: 100px auto 50px auto;
      transition: 0.5s;
      box-shadow: 2px 2px 2px 2px #ccc,inset 3px 3px 5px 0px #00000000;
      a{
        border-radius: 50px;
        line-height: 50px;
        display: block;
        height: 100%;
        width: 100%;
        color: $main-font-color;
        font-size: 1.6rem;
        &:hover{
          opacity: 0.3;
          transition: 0.5s;
        }
      }
      &:hover{
        box-shadow: 3px 3px 5px 2px #00000000,inset 3px 3px 5px 0px #ccc;
      }
    }
  }

  // works
  .works{
    padding: 0 0 50px 0;
    .works-inner{
      max-width: 980px;
      width: 92%;
      margin: 0 auto;
      h2{
        font-size: 4.0rem;
        font-weight: lighter;
        text-align: center;
        border-bottom: solid 1px #3E3E3E;
        width: 200px;
        margin: 0 auto 80px auto;
      }
      .row{
        display: flex;
        margin: 0 auto 40px auto;
        .l-card {
          cursor: pointer;
          overflow: hidden;
          width: 300px;
          height: 200px;
          padding: 0;
          border: 1px solid #ddd;
          box-shadow: 2px 2px 10px 1px #ccc;

          &:hover {
            .l-thumbnail {
              &:before, &:after {
                opacity: 1;
                width: calc(100% - 32px);
                height: calc(100% - 32px);
              }
            }
            .box {
              transform: scale(1.15);
              &:after {
                opacity: 1;
              }
              img{
                filter: blur(4px);
              }
            }
            .more-text {
              opacity: 1;
              transform: translateY(-50%);
            }
          }
          &:nth-child(2){
            margin: 0 40px;
          }
        }
        .l-thumbnail {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: auto;
          &:before, &:after {
            transition: opacity 0.1s, width 0.3s 0.1s, height 0.3s 0.4s;
            z-index: 2;
            box-sizing: border-box;
            position: absolute;
            content: "";
            display: block;
            width: 0;
            height: 0;
            opacity: 0;
          }
          &:before {
            border-top: 2px solid #F4F5F7;
            border-right: 2px solid #F4F5F7;
            left: 16px;
            top: 16px;
          }
          &:after {
            border-bottom: 2px solid #F4F5F7;
            border-left: 2px solid #F4F5F7;
            right: 16px;
            bottom: 16px;
          }
          .more-text {
            transition: 0.3s;
            position: absolute;
            top: 50%;
            transform: translateY(-120%);
            opacity: 0;
            display: block;
            width: 100%;
            color: $main-font-color;
            font-size: 1.6rem;
            line-height: 1.8;
            letter-spacing: 1px;
            text-align: center;
            color: #F4F5F7;
          }
        }
        .box {
          transition: 0.3s;
          margin: 0;
          padding: 0;
          transform: scale(1);
          &:after {
            transition: 0.3s;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.2);
            opacity: 0;
          }
          img {
            transition: 0.1s;
            display: block;
            max-width: 100%;
          }
        }
      }
      .url{
        width: 300px;
        margin: 0 0 0 auto;
        p{
          font-size: 1.4rem;
          margin-bottom: 3px;
        }
        ul{
          li{
            margin-bottom: 1px;
            font-size: 1.2rem;
            a{
              color: $main-font-color;
              text-decoration: underline;
              &:hover{
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }

  // contact
  .contact{
    .contact-inner{
      max-width: 1080px;
      width: 92%;
      margin: 0 auto;
      padding: 80px 0;
      h2{
        font-size: 4.0rem;
        font-weight: lighter;
        text-align: center;
        border-bottom: solid 1px #3E3E3E;
        width: 200px;
        margin: 0 auto 50px auto;
      }
      p{
        font-size: 1.6rem;
        line-height: 1.8;
        text-align: center;
        margin-bottom: 50px;
        a{
          color: #00acee;
          &:hover{
            opacity: 0.3;
          }
        }
      }
      form{
        background-color: #eee;
        box-shadow: 2px 2px 10px 1px #ccc;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 60px 60px 30px 60px;
        div{
          label{
            font-size: 1.6rem;
            width: 200px;
            display: inline-block;
            margin: 0 0 40px 0;
          }
          input{
            outline: none;
            width: 100%;
            max-width: 400px;
            background-color: #eee;
            border-bottom: solid 1px #3E3E3E;
            border-top: none;
            border-left: none;
            border-right: none;
            font-size: 1.6rem;
            opacity: 0.5;
            &::placeholder{
              font-size: 1.6rem;
            }
          }
          textarea{
            background-color: #eee;
            border: solid 1px #3E3E3E;
            opacity: 0.5;
            font-size: 1.6rem;
            width: 100%;
            outline: none;
          }
        }
        .content{
          label{
            margin: 0 0 5px 0;
          }
        }
        .submit{
          display: block;
          width: 200px;
          height: 50px;
          border-radius: 50px;
          text-align: center;
          margin: 30px auto 0 auto;
          transition: 0.5s;
          box-shadow: 2px 2px 2px 2px #ccc,inset 3px 3px 5px 0px #00000000;
          input{
            cursor: pointer;
            border-radius: 50px;
            line-height: 50px;
            display: block;
            height: 100%;
            width: 100%;
            color: $main-font-color;
            font-size: 1.6rem;
            border: none;
            opacity: 1;
            &:hover{
              opacity: 0.3;
              transition: 0.5s;
            }
          }
          &:hover{
            box-shadow: 3px 3px 5px 2px #00000000,inset 3px 3px 5px 0px #ccc;
          }
        }
      }
    }
  }
}

.formWrap{
  width: 100vw;
  height: 100vh;
  position: relative;
  .err{
    max-width: 92%;
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    h4{
      font-size: 2.0rem;
      margin-bottom: 20px;
    }
    p{
      font-size: 1.6rem;
      margin-bottom: 6px;
    }
    .back-btn{
      display: block;
      width: 200px;
      height: 50px;
      border-radius: 50px;
      text-align: center;
      margin: 0 auto;
      transition: 0.5s;
      box-shadow: 2px 2px 2px 2px #ccc,inset 3px 3px 5px 0px #00000000;
      input{
        cursor: pointer;
        border-radius: 50px;
        line-height: 50px;
        display: block;
        height: 100%;
        width: 100%;
        color: $main-font-color;
        font-size: 1.6rem;
        border: none;
        opacity: 1;
        &:hover{
          opacity: 0.3;
          transition: 0.5s;
        }
      }
      &:hover{
        box-shadow: 3px 3px 5px 2px #00000000,inset 3px 3px 5px 0px #ccc;
      }
    }
  }
  .verification{
    width: 92%;
    width: 700px
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
